header{
  background-color: rgb(78, 160, 255);
  background-image: url(./img-css/pattern.png);
  width: 100%;
  height: 100px;
}

#logo{
  text-align: left;
  width: 200px;
  height: 150px;
}

h1{
  width: 100%;
  text-size-adjust: 800px;
}